.tagItem {
display: flex;
align-items: center;
justify-content: center;
border: 1px solid black;
margin-right: 4px;
background-color: darkorange;

    .tagLabel {
        margin: 5px 8px 5px;

    }

    .tagLabel:first-child {
        margin-left: 0;
    }

    .tagButton {
        background: transparent;
        border: 0;
        cursor: pointer;
    }
}




